# Dataset (hosted on Hugging Face)
sroie-receipt-dataset/

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# EDA outputs
eda_*.png

# ML artifacts
*.pt
*.pth
*.bin
*.ckpt

# OS
.DS_Store
Thumbs.db

# Kaggle
kaggle.json